@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}


.title{
    font-size: 60px;
    color: rgb(4, 67, 8);
}
ul.redes {
    list-style: none;
}
.redes li {
    margin: 0 10px;
}
.redes a i {
    font-size: 2.1rem;
}
.footer-bottom {
    padding: 10px 0;
}

.smalltext{
    padding-top: 5px;
    font-size: 15px;
}
.card-img-top {
    height: 200px; 
    object-fit: cover; 
  }
.card {
    margin-bottom: 40px;
  }
.login a {
    display: inline-block;
    font-size: 1.75em;
    color: black;
    margin-right: 10px;
  }

  
  
  
  